<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ComingSoon</title>
    <link rel="shortcut icon" type="image/png" href="{%  static '/images/arpify_favicon.png' %}"/>
    <link rel="stylesheet" href="{%  static '/css/coming_soon.css' %}">
</head>
<body>
<div id="seed-csp4-page">
    <div id="seed-csp4-content">
        <h1 id="seed-csp4-headline">ARPIFY Social Book Reading Back-End App</h1>
        <h1>Get Ready . . . Something Really Cool Is Coming Soon</h1>
        <a href="https://sr.arpify.com'" title="Click To See Front-End App" target="_blank">
            <img id="seed-csp4-image" src="{%  static '/images/book.png' %}" width="50%" height="1%">
        </a>

        <ul style="list-style-type: none">
            <li style="font-size: 50px"><a href="https://socialreading.xyz/docs/">Swagger Documentation</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/library/">Books Library</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/sentences/">Book Sentences</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/categories/">Categories</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/quotes/">Quotes</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/comments/">Comments</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/likes/">Likes</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/save/">Users Save Quotes</a></li>
        </ul>
    </div>
</div>
<footer class="footer" style="font-size:200%;">
    <div>
        <a href="https://www.digitalocean.com/?refcode=e6dbc0859922&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
                src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg"
                alt="DigitalOcean Referral Badge"/></a>

    </div>
    <p>© All right reserved by Hayk Serobyan</p>
<div class="right_div"></div>
</footer>
</body>
</html>